@{
    ViewBag.Title = "Trip Manager";
}

<div class="row">
    <div class="col s12">
        <h3 class="header">Welcome to Trip Manager</h3>
        <p>This app will allow you to plan for future trips and manage your old ones.</p>
        <a asp-controller="App" asp-action="trips" class="waves-effect waves-light btn-large">View My Trips</a>
    </div>
</div>