<div class="row">
    <div class="col s12">
        <h3 class="header">Add Stop</h3>
    </div>

    <form name="newStopForm" method="post" class="col s12" ng-submit="vm.addStop()">
        <div class="input-field col s12 m5">
            <i class="material-icons prefix">location_on</i>
            <input id="name" name="name" type="text" ng-model="vm.newStop.name" required ng-minlength="2">
            <label for="name">Name</label>
            <span ng-show="newStopForm.name.$dirty && newStopForm.name.$error.required" class="field-validation-error">Name is required</span>
            <span ng-show="newStopForm.name.$dirty && newStopForm.name.$error.minlength" class="field-validation-error">Name must be at least 2 characters</span>
        </div>
        <div class="input-field col s12 m5">
            <i class="material-icons prefix">today</i>
            <input id="arrival" name="arrival" type="text" ng-model="vm.newStop.arrival" required ng-pattern="/^(\d{2})\/(\d{2})\/(\d{4})$/">
            <label for="arrival">Arrival</label>
            <span ng-show="newStopForm.arrival.$dirty && newStopForm.arrival.$error.required" class="field-validation-error">Arrival is required</span>
            <span ng-show="newStopForm.arrival.$dirty && newStopForm.arrival.$error.pattern" class="field-validation-error">Arrival must be in valid format MM/DD/YYYY</span>
        </div>
        <div class="col s12 m2">
            <button class="btn waves-effect waves-light btn-large" type="submit" name="action" ng-disabled="newStopForm.$invalid">
                Add
            </button>
        </div>
        <div class="col s12">
            <wait-cursor display-when="vm.isBusy"></wait-cursor>
        </div>
    </form>

    <div class="col s12 m4">
        <h3 class="header">Stops</h3>
        <table class="striped">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Arrival</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stop in vm.stops">
                    <td>{{ stop.name }}</td>
                    <td>{{ stop.arrival | date:shortDate }}</td>
                    <td><a ng-click="vm.deleteStop(stop)" class="btn-delete"><i class="material-icons">delete</i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col s12 m8">
        <h3 class="header">The Map</h3>
        <div id="map"></div>
    </div>
    
</div>

<div class="fixed-action-btn">
    <a href="#!/" class="btn-floating btn-large orange darken-3">
        <i class="large material-icons">fast_rewind</i>
    </a>
</div>

