<div>
    <a href="#!/" class="btn">Back</a>
    <h2 class="header">{{ vm.tripName }}</h2>
    <div class="col s12">
        <wait-cursor display-when="vm.isBusy"></wait-cursor>
        <p ng-show="vm.errorMessage">{{ vm.errorMessage }}</p>
    </div>
    <table>
        <tr>
            <th>Location</th>
            <th>Arrival</th>
        </tr>
        <tr ng-repeat="stop in vm.stops">
            <td>{{ stop.name }}</td>
            <td>{{ stop.arrival | date:shortDate }}</td>
        </tr>
    </table>
</div>