
/* Materialize Overrides */
html {
    color: #34495e;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fcfcfc;
}

main {
    flex: 1 0 auto;
}

nav {
    background-color: #009688;
}

.section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 80px;
}

nav.top-nav {
    height: 122px;
    box-shadow: none;
}

    nav.top-nav a.page-title {
        line-height: 122px;
        font-size: 48px;
    }

a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 4.2%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 36px;
    z-index: 2;
}

    a.button-collapse.top-nav.full {
        line-height: 122px;
    }

    a.button-collapse.top-nav i {
        font-size: 32px;
    }

@media only screen and (max-width: 992px) {
    nav .nav-wrapper {
        text-align: center;
    }

        nav .nav-wrapper a.page-title {
            font-size: 36px;
        }
}

.background img {
    width: 100%;
    height: auto;
}

.side-nav .userView .circle {
    height: 81px;
    width: 81px;
}

.side-nav .userView .name {
    padding-bottom: 16px;
}

.logo {
    height: 81px;
    width: auto;
}

footer.page-footer {
    padding-top: 0;
    background-color: #00897b;
}

/* Page Specific */

.field-validation-error {
    color: #F44336;
    font-size: 12px;
    margin-left: 45px;
}

#map {
    width: 100%;
    height: 600px;
}

/* Current Map Marker Overrides */
.travelmap-overlay {
    font-size: 14px !important;
    line-height: 19px !important;
    opacity: 1 !important;
    background: #34495e !important;
    border: none !important;
    border-radius: 0 !important;
    padding: 10px !important;
}

.travelmap-overlay-arrow.travelmap-overlay-arrow-above {
    border-top: 16px solid #34495e !important;
}

/* Angular Animate */

.item.ng-move,
.item.ng-enter,
.item.ng-leave {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

    .item.ng-leave.ng-leave-active,
    .item.ng-move,
    .item.ng-enter {
        opacity: 0;
    }

        .item.ng-leave,
        .item.ng-move.ng-move-active,
        .item.ng-enter.ng-enter-active {
            opacity: 1;
        }
